In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("./book_snapshot_5/deribit_book_snapshot_5_2020-01-01_BTC-PERPETUAL.csv.gz", header=0)

In [3]:
df.head()

,local_timestamp,bids[0].price,bids[0].amount,asks[0].price,asks[0].amount,bids[1].price,bids[1].amount,asks[1].price,asks[1].amount,bids[2].price,...,asks[2].price,asks[2].amount,bids[3].price,bids[3].amount,asks[3].price,asks[3].amount,bids[4].price,bids[4].amount,asks[4].price,asks[4].amount
0,1577836800050000,1000.000000,200.0,1001.000000,300.0,999.500000,300.0,1001.500000,200.0,998.500000,...,1002.000000,600.0,998.000000,100.0,1003.000000,150.0,996.0,600.0,1005.0,800.0
1,1577836800100000,999.442283,200.0,1000.442283,400.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1577836800150000,NaN,NaN,NaN,NaN,998.942283,500.0,1000.942283,1000.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1577836800200000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,998.442283,...,1001.442283,250.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1577836800250000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,997.942283,350.0,1001.942283,650.0,NaN,NaN,NaN,NaN

In [6]:
df.loc[df.index[2], "bids[0].price"] = 999

In [7]:
df.head()

,local_timestamp,bids[0].price,bids[0].amount,asks[0].price,asks[0].amount,bids[1].price,bids[1].amount,asks[1].price,asks[1].amount,bids[2].price,...,asks[2].price,asks[2].amount,bids[3].price,bids[3].amount,asks[3].price,asks[3].amount,bids[4].price,bids[4].amount,asks[4].price,asks[4].amount
0,1577836800050000,999.000000,200.0,1001.000000,300.0,999.500000,300.0,1001.500000,200.0,998.500000,...,1002.000000,600.0,998.000000,100.0,1003.000000,150.0,996.0,600.0,1005.0,800.0
1,1577836800100000,999.442283,200.0,1000.442283,400.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1577836800150000,999.000000,NaN,NaN,NaN,998.942283,500.0,1000.942283,1000.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1577836800200000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,998.442283,...,1001.442283,250.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1577836800250000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,997.942283,350.0,1001.942283,650.0,NaN,NaN,NaN,NaN